root{
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
body{
   margin: 0px;
   padding: 0px;
   background-color: rgb(249,248,248);
}
html{
  margin: 0px;
  padding: 0px;
}
