.fondo{
  position: fixed;
  top:0%;
  left:0%;
  height:100vh;
  width: 100vw;
  background-color: rgb(196,196,196);
  z-index: 100000;
}
.form_roles{
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  color:white;
}
h2{
  text-align: center;
  margin-top: 20px;
}
.fila_grupo{
  margin-top: 30px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
#cuerpo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  margin-top: 30px;
  max-height: 50%;
}
#permisos_usuarios{
  display: grid;
  grid-template-columns: 1fr;
}
.fila_btn{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.fila_user{
  margin-top: 15px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: end;
}
.fila_checks{
  display:flex;
  flex-direction: column;
}
.fila_grupo label, .fila_user label{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fila_grupo label input, .fila_user label input{
  height: 30px;
}
.btn_roles{
  width: 70px;
  height:30px;
  background-color: red;
}
.buscar_mail{
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 1px solid black;
}
.usuario_list{
  z-index:500000 ;
  width:150px;
  height: 300px;
  position: absolute;
  left: 0px;
  top:50px;
  background-color: rgb(196,196,196);
  box-shadow: 1px 1px 10px rgba(1,1,1,.5);
  overflow: scroll;
}
.usuario_list img{
  width: 30px;
  height: 30px;
}
.usuario_list table{
   width: 95%;
   height: 95%;
   margin: 0 auto;
}
.usuario_list table td{
  display:grid;
  cursor: pointer;
}
#lista_usuarios table{
  width: 100%;
}
#lista_usuarios table td {
 display:grid;
}

#lista_usuarios table td:hover{
  background-color: aqua;
  cursor:pointer;
}
.identificadores{
  display:grid;
  grid-template-columns: 1fr;
  margin-top: 15px;
}
.identificadores label{
  margin-top:5px;
}
@media screen and (max-width:640px) {
 
.fila_grupo label, .fila_user label{
   grid-template-columns: 1fr;
}
.form_roles{
  width: 100%;
}
}
